---
layout: default
title: Arts
permalink: /arts
---


<!-- <ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
    </li>
  {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
  {% endif %}

  <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
  {% endif %}
</div> -->

<h1>Travel Journals</h1>
<ul>
  {% assign sorted_projects = site.arts | sort: "date" | reverse %}
  {% for project in sorted_projects %}
    <li>
      <h2><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
      <p>{{ project.excerpt }}</p>
    </li>
  {% endfor %}
</ul>
