  /* body {
    background-color: black;
  */
  h1, h2, h3 {
    margin-top: 1em;
    font-weight: bold;
    color: #ddffff;
  }
  h3 {
    color:aqua;
  }
  strong {
    color: lightblue;
  }
  em {
    color: #aaccff;
  }
  red {
    color: red;
  }